body
{
	background: #e4e4e48a;
}
#header
{
	margin-top: 2%;
	color: #FFF; 
}
#cabecera{
	color: #FFF; 
	background: #222831;
	border-radius: 5px;
}
#uno{
	color: #FFF;
	background: #222831;
}
#dos{
	margin-top: 2%;
	color: black;
	background: #f4d160;
}	
#principal{
	position: sticky;
	top: 0;
}